#main{
	padding-top: 1%;
	font-family: 'tf2', Verdana;
	background-color: #2e2d2b;
	color: #f7f7f7;
	font-size: 2vw;
	text-align: center;	
}

#row{
	margin-bottom: 2em;
	background-color: #f7f7f7;
}

#bellCurve{
	margin-top: 1em;
	width: 44vw;
	height: 30vh;
}

#vitals{
	margin-top: 3em;
}

#vital{
	font-size: 1.5vw;
	margin-bottom: 10px;
}

.stat{
	font-family: Courier new;
	font-size: 1.5vw;
	font-weight: 100;
}

.chart{
	height: 50vh;
}

#plot-title{
	margin-top: 1em;
	text-align: center;
	color: #666;
	font-size: 1.4vw;
}

#legend{
	justify-content: space-around;
	padding-bottom: 1em;
	color: #666 !important;
	font-size: 1.15vw;
}

#legend > tbody > tr.jqplot-table-legend > td.jqplot-table-legend:nth-child(even){
	padding-left: 1%;
	padding-right: 1em;
}

.chart > .jqplot-highlighter-tooltip{
	font-size: 1.5vw !important;
}

#cover{
	z-index: 100;
	background: url('loading.gif') no-repeat center;
	position: absolute;
	top: 1%;
	height: 100%;
	width: 55%;
}