#pager{
	margin-top: 1em;
}

table{
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 1.5vw;
	width: 100%;
}

table .playerName{
	cursor: pointer;
	color: #403E3C;
	text-align: justify;
}

table .playerName:hover{
	background-color: #7F7D77;	
	color: #FFFAEF;
}

table th{
	background-color: #2f2e2c;
	font-weight: normal;
	color: #f7f7f7;
	height: 6vh;
	text-align: center;
}

table td{
	background-color: #f7f7f7;
	color: #2f2e2c;
	text-align: center;
}

.pagesel{
	width: 20%;
	margin-right: 10%;
}